# Auto detect text files and perform LF normalization
* text=auto
# Remove JS as main language
cockpitdecks/resources/api/**/*.js linguist-vendored
cockpitdecks/decks/resources/assets/js/konva.js linguist-vendored