<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cockpitdecks Button Designer</title>
<style type="text/css">
body {
    font-family: sans-serif;
}
#preview, #design {
    display: block;
    float: left;
}
#preview {
    width: 520px;
    height: 520px;
}
#code {
    font-family: monospace;
}
.maxwidth {
    font-size: small;
    max-width: 600px;
}
</style>
<script src="/assets/js/konva.js" type="text/javascript"></script>
<script src="/assets/js/yaml.js" type="text/javascript"></script>
<script src="/assets/js/button-designer.js" type="text/javascript"></script>
</head>
<body>

    <div id="preview"><!--CANVAS-->
    </div><!--#preview-->

    <div id="design">

        <form id="parameters">

            <fieldset><!-- DECK -->
                <legend>Deck</legend>
                <label>Deck model</label>
                <select id="deck" name="deck">
                {% for deck in assets.decks %}
                    <option value="{{ deck.name }}">{{ deck.name }} ({{ deck.type }})</option>
                {% endfor %}
                </select>
                <br/>
                <label>Layout Name</label>
                <input type="text" name="layout" size="20"/>
                <br/>
                <label>Page Name</label>
                <input type="text" name="page" size="20"/>
            </fieldset>

            <fieldset><!-- BUTTON -->
                <legend>Button</legend>
                <label>Index</label>
                <select id="index" name="index">
                </select>

                <label>Name</label>
                <input type="text" name="name" size="40"/>
                <div id="button-description"></div>
            </fieldset>

            <fieldset><!-- ACTIVATION -->
                <legend>Activation</legend>
                <label>Type</label>
                <select id="activation-type" name="type">
                {% for activation in assets.activations %}
                    <option value="{{ activation }}">{{ activation }}</option>
                {% endfor %}
                </select>
                <div id="activation-details"></div>
                <div class="maxwidth"><p id="activation-description"></p></div>
            </fieldset>

            <fieldset><!-- REPRESENTATION -->
                <legend>Representation</legend>
                <label>Type</label>
                <select id="representation-type" name="view">
                {% for representation in assets.representations %}
                    <option value="{{ representation }}">{{ representation }}</option>
                {% endfor %}
                </select>
                <div id="representation-details"></div>
                <div class="maxwidth"><p id="representation-description"></p></div>
            </fieldset>

            <fieldset><!-- OUTPUT -->
                <p style="font-size: x-small;">
                    To generate Yaml from above form, textarea needs to be clear, then press Render.<br/>
                    To generate image from textarea, press render.<br/>
                    Textarea can be edited but modification are <strong>not</strong> reported into form elements.
                </p>
                <button id="run"   type="button" name="action" value="render">Render</button>
                <button id="clear" type="button" name="action" value="clear">Clear</button>
                <button id="save"  type="button" name="action" value="save">Save</button>
                <br/>
                <legend>Code</legend>
                <br/>
                <textarea id="code" name="code" rows="40" cols="60"></textarea>
            </fieldset>
        </form><!--#parameters-->

        <div id="status-bar" style="border: 1px solid grey;">
            <p style="font-size: small;">Status: <span id="status">ok</span></p>
        </div><!--#status-bar-->

    </div><!--#design-->

<script type="text/javascript">
//
//
// Konva layout set up and initialisation
//
const ASSETS = {{ assets|tojson(indent=2) }};

// create stage
var stage = new Konva.Stage({
    container: "preview",
    width: 512,
    height: 512,
});
var image_layer = new Konva.Layer({name: "image"});
stage.add(image_layer);


var status_line = document.getElementById("status");
var code_elem = document.getElementById("code")
var deck_elem = document.getElementById("deck");

var activation_details; // global
var representation_details; // global

// Utility functions
//
function collectForm(form_name) {
    let form = document.getElementById(form_name);
    let formData = new FormData(form);
    return Object.fromEntries(formData)
}

function removeOptions(selectElement) {
   var i, L = selectElement.options.length - 1;
   for(i = L; i >= 0; i--) {
      selectElement.remove(i);
   }
}

function cleanElement(el) {
    while(el.firstChild){
        el.removeChild(el.firstChild);
    }
}

// Event handler for form
//
function render(event) {
    // Prevent form submit
    event.preventDefault();
    let data = collectForm("parameters");
    if (code_elem.innerHTML == undefined || code_elem.innerHTML == "") {
        var code = generateYaml(data, activation_details, representation_details);
        // console.log("code", code)
        code_elem.innerHTML = code
    }
    if (data.code == undefined || data.code == "") {
        data.code = code_elem.innerHTML
    }
    if (data.code == "") {
        console.log("no button definition")
    }
    if (data.deck == undefined || data.deck == "") {// sometimes not collected by collect form...
        console.log("added deck", data.deck, deck_elem.value)
        data.deck = deck_elem.value
    }
    console.log("data out", data, deck_elem.value)

    fetch("/button-designer", {
      method: "POST",
      headers: {"Content-Type": "application/json"}, 
      body: JSON.stringify(data)
    })
    .then(r =>  r.json().then(image => {
        if (image.meta != undefined && image.meta.error != undefined) {
            status_line.innerHTML = image.meta.error
            console.log("image", image.meta)
        }
        if (image.image != "") {
            let buttonImage = new Image();
            buttonImage.onload = function () {
                let button = new Konva.Image({
                    x: 0,
                    y: 0,
                    image: buttonImage
                });
                image_layer.add(button);
            };
            buttonImage.src = "data:image/jpeg;base64," + image.image;
            status_line.style["color"] = "#000000";
        } else {
            status_line.style["color"] = "#ff0000";
        }
        if (image.meta["representation-desc"] != undefined) {
            document.getElementById("activation-description").innerHTML = image.meta["activation-desc"]
        }
        if (image.meta["activation-desc"] != undefined) {
            document.getElementById("representation-description").innerHTML = image.meta["representation-desc"]
        }
    }));
}

document.getElementById("run").addEventListener(
    "click",
    render,
    false,
);

document.getElementById("save").addEventListener(
    "click",
    render,
    false,
);

document.getElementById("clear").addEventListener(
    "click",
    function (event) {
        event.preventDefault();
        code_elem.innerHTML = ""
    },
    false,
);

let activation_elem = document.getElementById("activation-type");
activation_elem.onchange = (e) => {
    let activation = activation_elem.value
    // console.log("activation out", activation)

    fetch("/activation?" + new URLSearchParams({name: activation}).toString())
    .then(r =>  r.json().then(details => {
        let details_elem = document.getElementById("activation-details");
        // console.log("activation in", details);
        document.getElementById("activation-description").innerHTML = ""
        activation_details = details
        makeForm(activation_details, details_elem, false)
    }));
    return false;
};

let representation_elem = document.getElementById("representation-type");
representation_elem.onchange = (e) => {
    let representation = representation_elem.value
    // console.log("representation out", representation)

    fetch("/representation?" + new URLSearchParams({name: representation}).toString())
    .then(r =>  r.json().then(details => {
        let details_elem = document.getElementById("representation-details");
        // console.log("representation in", details);
        document.getElementById("representation-description").innerHTML = ""
        representation_details = details
        makeForm(representation_details, details_elem, representation_elem.value)
    }));
    return false;
};

var index_elem = document.getElementById("index");
index_elem.onchange = (e) => {
    let deck = deck_elem.value
    let index = index_elem.value

    fetch("/button_details?" + new URLSearchParams({deck: deck, index: index}).toString())
    .then(r =>  r.json().then(details => {
        // console.log("button details in", details);
        // Activations
        removeOptions(activation_elem);
        // Add new options
        details.activations.sort().forEach(i => {
            var opt = document.createElement("option");
            opt.value = i;
            opt.innerHTML = i;
            activation_elem.appendChild(opt);
        });
        activation_elem.value = "none"
        activation_elem.dispatchEvent(new Event("change"));

        // Activations
        removeOptions(representation_elem);
        // Add new options
        details.representations.sort().forEach(i => {
            var opt = document.createElement("option");
            opt.value = i;
            opt.innerHTML = i;
            representation_elem.appendChild(opt);
        });
        representation_elem.value = "none"
        representation_elem.dispatchEvent(new Event("change"));
    }));
    return false;
};

deck_elem.onchange = (e) => {
    let deck = deck_elem.value

    fetch("/deck_indices?" + new URLSearchParams({name: deck}).toString())
    .then(r =>  r.json().then(details => {
        // console.log("deck indices", details);
        removeOptions(index_elem);
        // Add new options
        details.indices.sort().forEach(i => {
            var opt = document.createElement("option");
            opt.value = i;
            opt.innerHTML = i;
            index_elem.appendChild(opt);
        });
        if (index_elem.options.length > 0) {
            index_elem.value = index_elem.options[0].value
            index_elem.dispatchEvent(new Event("change"));
        }
    }));
    return false;
};

// trigger it on start, will cascade to index, activation, and representation
deck_elem.dispatchEvent(new Event("change"));
console.log("Cockpitdecks button designer ready")
</script>
</body>
</html>