<!DOCTYPE html>
<html>
<head>
    <title>Cockpitdecks - {{ deck.name }} </title>
<style type="text/css">
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
</style>
</head>
<body>
<script src="/assets/js/konva.js" type="text/javascript"></script>
<script src="/assets/js/buttons.js" type="text/javascript"></script>
<script type="text/javascript">
//
//
// Konva layout set up and initialisation
//
// create and add <div id="deck"></div> with proper styling
DECK_ELEMID = "deck"
var deck_elem = document.createElement("div");
deck_elem.setAttribute("id", DECK_ELEMID);
deck_elem.setAttribute("width", "inherit");
deck_elem.setAttribute("height", "inherit");
deck_elem.setAttribute("display", "block");
deck_elem.setAttribute("padding", 0);
deck_elem.setAttribute("marging", 0);
document.getElementsByTagName("body")[0].appendChild(deck_elem)

// create state
var stage = new Konva.Stage({
    container: DECK_ELEMID,
    width: window.innerWidth,
    height: window.innerHeight,
});

// create layers to cleanly separate content by function
var background_layer = new Konva.Layer();   // Background image or iniform color
var interaction_layer = new Konva.Layer();  // Shapes with events attached to it
var image_layer = new Konva.Layer();        // Where Cockpitdecks draws its icons/images

// add the layer to the stage
stage.add(background_layer);
stage.add(image_layer);
stage.add(interaction_layer);

//
//
// Deck creation & installation
//
// Transfer from Cockpitdecks through Jinja2
const DECK = {{ deck|tojson(indent=2) }};

deck = new Deck(DECK, deck_elem);  // we need to pass the div element to style it (cursor)
deck.add_background_image(background_layer, stage);
deck.add_interaction_to_layer(interaction_layer);

//
//
// WebSocket initialisation and setup
//
ws_url = DECK.ws_url;

if (ws_url == undefined) {
    alert("No WebSocket address. Please start Cockpitdecks first.")
}

var ws = new WebSocket(ws_url);

ws.onopen = (event) => {
    console.log("connection opened", ws_url);
    // sends its name on new connection to help identify
    sendCode(1, DECK.name);
};

// RECEIVE function
//
// Receives messages from Cockpitdecks and take action on this deck
ws.onmessage = (event) => {
    // console.log("data received");
    var data = JSON.parse(event.data);
    // console.log("code received", data.code);
    if (data.code == 0) {
        // console.log("loading image (key)..", data.key);
        deck.set_key_image(data.key, data.image, image_layer);
        // console.log("..done")
    } else if (data.code == 1) {
        console.log("received initialisation code", data.code);
        // init here, later if necessary
    } else {
        console.log("unhandled code received, uninterpreted", data.code);
    }
};

// SEND functions (global, to be used by decks, etc.)
//
// Send code to Cockpitdecks
function sendCode(code, deck) {
    payload = {"code": code, "deck": deck};
    var message = JSON.stringify(payload);
    ws.send(message);
    console.log("sent code", deck, code);
}

//
// Send event to Cockpitdecks
function sendEvent(deck, key, value, coords) {
    if (key == -1) {
        console.log("probably not clicked on a key");
    } else {
        payload = {"code": 0, "deck": deck, "key": key, "z": value, "x": coords.x, "y": coords.y};
        var message = JSON.stringify(payload);
        ws.send(message);
        // console.log("sent event", message);
    }
}
</script>
</body>
</html>