<!DOCTYPE html>
<html>
<head>
    <title>Cockpitdecks - {{ deck.name }} </title>
<style type="text/css">
/* everything is centerd in browser window */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222; /* should be white for light themes */
    font-family: sans-serif;
}
#deck {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    display: block;
}
</style>
</head>
<!-- Structure of deck as received:

-->
<body>
    <div id="deck"></div>
<script src="/assets/js/konva.js" type="text/javascript"></script>
<script src="/assets/js/buttons.js" type="text/javascript"></script>
<script type="text/javascript">
//
//
// Konva layout set up and initialisation
//
DECK_ELEMID = "deck"
var deck_elem = document.getElementById(DECK_ELEMID);

var stage = new Konva.Stage({
    container: DECK_ELEMID,
    width: window.innerWidth,
    height: window.innerHeight,
});

var background_layer = new Konva.Layer();   // Background image or iniform color
var interaction_layer = new Konva.Layer();  // Shapes with events attached to it
var image_layer = new Konva.Layer();        // Where Cockpitdecks draws its icons/images

// add the layer to the stage
stage.add(background_layer);
stage.add(image_layer);
stage.add(interaction_layer);

//
//
// Deck creation & installation
//
// Transfer from Cockpitdecks through Jinja2
const DECK = {{ deck|tojson(indent=2) }};

deck = new Deck(DECK, deck_elem);
deck.add_background_image(background_layer, stage);
deck.add_interaction_to_layer(interaction_layer);

//
//
// WebSocket initialisation and setup
//
ws_url = DECK.ws_url;
var ws = new WebSocket(ws_url);

ws.onopen = (event) => {
    console.log(ws_url, "connection opened");
    // sends its name on new connection to help identify
    sendCode(1, DECK.name);  // filled by jinja templating engine
};

ws.onmessage = (event) => {
    // console.log("data received");
    var data = JSON.parse(event.data);
    // console.log("code received", data.code);
    if (data.code == 0) {
        // console.log("loading image (key)..", data.key);
        deck.set_key_image(data.key, data.image, image_layer);
        deck.add_interaction_to_layer(interaction_layer);
        // console.log("..done")
    } else {
        console.log("non zero code received, uninterpreted", data.code);
    }
};

// Send functions
//
function sendCode(code, deck) {
    payload = {"code": code, "deck": deck};
    var message = JSON.stringify(payload);
    ws.send(message);
    console.log("sent code", deck, code);
}

function sendEvent(deck, key, value, coords) {
    if (key == -1) {
        console.log("probably not clicked on a key");
    } else {
        payload = {"code": 0, "deck": deck, "key": key, "z": value, "x": coords.x, "y": coords.y};
        var message = JSON.stringify(payload);
        ws.send(message);
        // console.log("sent event", message);
    }
}

</script>
</body>
</html>