<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cockpitdecks Web Decks</title>
<style type="text/css">
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: sans-serif;
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
</style>
</head>
<body>
    <h2>Welcome to Cockpitdecks Web Decks</h2>
    {% if virtual_decks|length > 0 %}
        <p>List of available web decks:</p>
        <ul id="decklist">
        {% for deck in virtual_decks %}
            <li><a href="#"
                   onclick="window.open(
                        '/deck/{{ deck|e }}',
                        '{{ deck }}',
                        'height=200,width=200,resisable=0,toolbar=0,locationbar=0,menubar=0,statusbar=0,personalbar=0,scrollbars=0'
                   );"
                   target="_blank"
            >{{ deck }}</a></li>
        {% endfor %}
        </ul>
        <p>Deck will start in a new window.</p>
    {% else %}
        <p>Please start Cockpitdecks to see available web decks.</p>
        <p><a href="/">Refresh page</a></p>
    {% endif %}
    <footer  style="font-size: small;">
        <hr style="width:35%;text-align:left;margin-left:0">
        {{ copyrights.copyrights }}
        <a href="https://devleaks.github.io/cockpitdecks-docs/" target="_blank">Cockpitdecks Documentation </a>
    </footer>
</body>
</html>